{% extends "base.html" %}

{% block title %}Calc result{% endblock title %}
{% block header %}Результаты расчета{% endblock header %}
{% block content %}


<table style="width: 80%; margin: 0 auto; text-align: center;">
    <tbody>
    <tr>
        <td style="vertical-align: top;">{% include "matrix.html" %}</td>
        <td style="vertical-align: top;">{% include "same_day.html" %}</td>
    </tr>
    </tbody>
</table>

{% if celebs %}
<div style="width: 80%; margin: 20px auto; text-align: center;">
    <p>Звезды кино, у которых день рождения {{ celebs|first|slice:'1:'|first|date:"d E" }}:</p>
    {% for c in celebs %}
    <div style="width: 220px; margin: 2px; padding: 2px 10px; display: inline-block; text-align: center; background-color: #eee; border-radius: 10px; overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis;">
        <img src="{{ c.4 }}" height="60" style="float: left; border-radius: 10px; margin-right: 10px;" alt="{{ c.0 }}">
        <h4 style="margin: 3px; overflow-x: hidden; text-overflow: ellipsis;"><a href="{{ c.3 }}" target="_blank" style="color: #333;">{{ c.0|slice:"0:20" }}</a></h4>
        <p style="margin: 0; overflow-x: hidden; text-overflow: ellipsis; color: #999;">{{ c.1 }}</p>
        {% if c.2 == " " %}
        <small style="margin: 0;"> - </small>
        {% else %}
        <small style="margin: 0; text-overflow: ellipsis;">{{ c.2 }}</small>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}