<div style="float: left; margin: 0 auto;">
  <h2>Matrix</h2>
  <table>
    <tbody>
    <tr style="height: 40px;">
      <td style="width: 50px;">{{ bday }}</td>
      <td style="width: 50px;">{{ bit }}</td>
      <td style="width: 50px;">{{ sudba }}</td>
      <td style="width: 50px;">{{ temperament }}</td>
    </tr>
    <tr style="height: 40px;">
      <td>{{ one }}</td>
      <td>{{ four }}</td>
      <td>{{ seven }}</td>
      <td>{{ cel }}</td>
    </tr>
    <tr style="height: 40px;">
      <td>{{ two }}</td>
      <td>{{ five }}</td>
      <td>{{ eight }}</td>
      <td>{{ semiya }}</td>
    </tr>
    <tr style="height: 40px;">
      <td>{{ three }}</td>
      <td>{{ six }}</td>
      <td>{{ nine }}</td>
      <td>{{ privichki }}</td>
    </tr>
    </tbody>
  </table>
</div>